<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.mangopi.android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- 百度统计需要申明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- JPush start -->
    <permission
        android:name="cn.com.mangopi.android.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="cn.com.mangopi.android.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- auto-layout -->
        <!--
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />
        -->

        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/start_theme"
            android:windowSoftInputMode="stateHidden|stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TabViewPagerActivity" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.activity.RegistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SetNickNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.activity.UpgradeRoleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyOrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProfileInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyClassesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.activity.PublishDynamicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TrendCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TutorClassCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CalssListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddBlankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MemberCardListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TutorDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BulletinDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SelectPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PlaceOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.activity.UpgradeToStudentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.activity.CourseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UpgradeToTutorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.activity.UpgradeToCommunityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.activity.UpgradeToCompanyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.activity.InputMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ContentDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PayResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FavListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MemberTrendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddCourseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.activity.GetCashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity
            android:name=".ui.activity.PictureDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity_translucent" />
        <activity
            android:name=".ui.activity.OrderScheduleCalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MemberWorksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WorksProjectDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MemberTransListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TransDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WorksCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WorksTeamDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProjectJoinActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.MemberCardStateActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.CaptureActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".receiver.NetReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59c33221c62dca4b3800002c" />
        <!-- qq -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105462216" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- alipay sdk end -->


        <!-- 注册微信回调 WXEntryActivity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <!-- 百度统计 start -->
        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="202d34d7de" />
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="develop" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <!--
            <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        -->
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />
        <!-- 百度统计 end -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.com.mangopi.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- 45cff4eb5903e8d0b616362e -->
        <!-- JPush start -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="cn.com.mangopi.android" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="cn.com.mangopi.android" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="cn.com.mangopi.android" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.MangoJPushBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="cn.com.mangopi.android" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <receiver android:name=".receiver.MangoJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="cn.com.mangopi.android" />
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="45cff4eb5903e8d0b616362e" /> <!-- </>值来自开发者平台取得的AppKey -->
        <!-- JPush end -->


    </application>

</manifest>